@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    line-height: normal !important;
}
@layer components{
    .mobileView{
        @apply max-lg:flex-col max-lg:bg-black max-lg:w-full max-lg:h-screen max-lg:justify-center max-lg:items-center max-lg:fixed max-lg:top-0 max-lg:right-[-100%] z-10
      }
}
.swiper-slide-active{
    display: flex !important;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper{
    align-items: center;
}